@import '../../styles/common.scss';

.sidebar {
	@include flexPlacement($dp: flex, $fd: column);
	justify-content: space-between;
	flex: .2;
	background-color: $ligth_blue;
	&-list li {
		height: 2.4em;
		margin: 1em 1.6em;
		list-style-type: none;
	}
	&-bottom {
		height: 2em;
		margin: 1em 2.4em;
	}
	&-list li,
	&-bottom {
		background: $light_pink_purple;
		box-shadow: $box_shadow_light $light_pastel;
	}
}

@media (max-width: 50em) {
	.sidebar {
		@include flexJustify($dp: flex, $jc: center);
		align-items: center;
		&-list {
			@include flexJustify($dp: flex, $jc: center);
			flex-wrap: wrap;
			& li {
				width: 10em;
			}
		}
		&-bottom {
			width: 8em;
			display: flex;
			align-items: center;
		}
	}
}
