/*gradients*/
$peach: linear-gradient(90deg, #f598a8, #f6edb2);
$light_pink_purple: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
$lime_skyblue_coral: linear-gradient(limegreen, transparent),
	linear-gradient(90deg, skyblue, transparent),
	linear-gradient(-90deg, coral, transparent);

/*colors*/
$ligth_blue: rgb(190, 255, 252);
$hotpink: rgb(255, 108, 181);
$white: #ffffff;
$purple: rgb(128, 0, 128);
$lightpink: rgb(255, 182, 193);
$light_purple: rgba(252, 199, 249, .993);
$turquoise: rgb(151, 255, 241);
$light_swampy: rgba(0, 255, 191, .747);
$light_pastel: rgb(230, 156, 156);
$moccasin: rgb(255, 228, 181);
$dark_brown: rgb(49, 47, 49);
$dark_brown_yellow: rgb(85, 84, 19);
$black: #000000;
$pink_red: #f18597;

/*shadows*/
$box_shadow: 0px 1px 4px;
$box_shadow_light: 4px 8px 6px;
$box_shadow_dark: 0px 1px 20px;
