@import '../../../styles/common.scss';

.footer {
	padding: 1.6em;
	background: $peach;
	&__info {
		@include elementSize($h: 3.2em, $w: 16em);
		background-color: $moccasin;
		border-radius: 8px;
		box-shadow: $box_shadow $dark_brown_yellow;
	}
}
@media (max-width: 35em) {
	.footer {
		@include flexJustify($dp: flex, $jc: center);
	}
}
